docs/n8n-workflows/quicreply-ai-test-runtime.workflow.json
{
  "id": "quicreply-ai-test-runtime",
  "name": "QuicReply AI Test Runtime",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "quicreply-ai-test", "responseMode": "lastNode", "responseData": "firstEntryJson", "options": {}},
      "id": "webhook-ai-test",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const request = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst expectedSecret = String($env.N8N_AI_TEST_WEBHOOK_SECRET || '').trim();\nconst incomingSecret = String(headers['x-quicreply-webhook-secret'] || headers['X-Quicreply-Webhook-Secret'] || '').trim();\nconst context = request.businessContext || {};\nconst knowledge = request.aiKnowledge || {};\n\nif (!expectedSecret || incomingSecret !== expectedSecret) {\n  throw new Error('Unauthorized AI test webhook request.');\n}\nif (request.contextQuality?.isReady !== true || !String(context.businessDescription || '').trim() || !String(context.productsServices || '').trim()) {\n  return [{ json: { guardMessage: 'Complete Jennifer setup before testing.' } }];\n}\n\nconst history = Array.isArray(request.conversationHistory) ? request.conversationHistory.slice(-6) : [];\nconst prompt = [\n  'You are Jennifer, the QuicReply AI assistant in a test environment.',\n  'Answer as a concise storefront assistant using only the supplied business facts.',\n  'Never claim you sent a message, changed an order, issued a refund, updated an account, or completed another live action.',\n  'Do not invent prices, stock, policies, delivery times, or product details.',\n  'Answer directly and ask at most one follow-up question.',\n  `Business: ${String(context.businessDescription || '')}`,\n  `Products and services: ${String(context.productsServices || '')}`,\n  `Pricing and plans: ${String(knowledge.pricingAndPlans || 'Not provided.')}`,\n  `Seats and limits: ${String(knowledge.seatsAndLimits || 'Not provided.')}`,\n  `Core features: ${String(knowledge.coreFeatures || 'Not provided.')}`,\n  `Product pages: ${String(knowledge.productPages || 'Not provided.')}`,\n  `Policies and FAQs: ${String(knowledge.policiesAndFaqs || 'Not provided.')}`,\n  `Response style: ${String(context.responseStyle || 'professional')}`,\n  `Language: ${String(context.aiLanguage || 'English')}`,\n  `Conversation: ${history.map((entry) => `${entry.role || 'user'}: ${String(entry.text || '').trim()}`).join('\\n') || 'No prior conversation.'}`,\n  `Customer message: ${String(request.prompt || '').trim()}`,\n  'Return plain answer text only.'\n].join('\\n');\n\nreturn [{ json: { guardMessage: '', openclawPrompt: prompt } }];"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.OPENCLAW_BASE_URL || 'http://host.docker.internal:18789') + '/v1/responses' }}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENCLAW_GATEWAY_TOKEN }}"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENCLAW_AI_TEST_MODEL || 'openclaw/ai-test', input: $json.openclawPrompt }) }}",
        "options": {"timeout": 30000}
      },
      "id": "call-openclaw",
      "name": "Call OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 420],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "mergeByPosition"},
      "id": "merge-runtime-and-request",
      "name": "Merge Runtime And Request",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "if ($json.guardMessage) {\n  return [{ json: { message: $json.guardMessage, route: 'n8n.guard', warnings: [] } }];\n}\nif ($json.error) {\n  return [{ json: { message: 'Jennifer runtime could not be reached.', route: 'openclaw.ai-test', warnings: ['runtime_unreachable'] } }];\n}\nconst output = Array.isArray($json.output) ? $json.output : [];\nconst text = output.flatMap((entry) => Array.isArray(entry.content) ? entry.content : []).find((entry) => entry?.type === 'output_text' && typeof entry.text === 'string')?.text?.trim();\nif (!text || text.startsWith('```') || text.includes('<tool')) {\n  return [{ json: { message: 'Jennifer runtime failed to produce a response.', route: 'openclaw.ai-test', warnings: ['runtime_invalid_output'] } }];\n}\nreturn [{ json: { message: text, route: 'openclaw.ai-test', warnings: [] } }];"
      },
      "id": "finalize-response",
      "name": "Finalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Prepare Request", "type": "main", "index": 0}]]},
    "Prepare Request": {"main": [[{"node": "Merge Runtime And Request", "type": "main", "index": 0}, {"node": "Call OpenClaw", "type": "main", "index": 0}]]},
    "Call OpenClaw": {"main": [[{"node": "Merge Runtime And Request", "type": "main", "index": 1}]]},
    "Merge Runtime And Request": {"main": [[{"node": "Finalize Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": [],
  "versionId": "3a2b4c9d-bc19-4e4f-8d8f-941b9867d47f"
}
